{{!-- <style>
    .nice-select{ 
        width: 100%;
        height: 46px;
        line-height: 46px;
    }
    .nice-select ul{ 
        width: 100%;
    }

    .nice-select > .list {
        overflow-y: scroll;
        height: 140px;
    }
</style> --}}

<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Check out</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Check out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            {{!-- <div class="row">
                <div class="col-lg-12">
                    <h6><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code
                    </h6>
                </div>
            </div> --}}
            <div class="checkout__form">
                <h4>Billing Details</h4>
                <form action="/shoping-cart/checkout" method="post">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        <input name="firstName" type="text" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input name="lastName" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>House number<span>*</span></p>
                                <input name="houseNumber" type="text" required>
                            </div>
                            <div class="checkout__input">
                                <p>Ward<span>*</span></p>
                                <input name="ward" type="text" required>
                            </div>
                            <div class="checkout__input">
                                <p>District<span>*</span></p>
                                <input name="district" type="text" required>
                            </div>
                            <div class="checkout__input">
                                <p>City<span>*</span></p>
                                <input name="city" type="text" required>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input name="phone" type="tel" pattern="[0-9]{10}" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Order notes<span>*</span></p>
                                <input name="orderNote" type="text"
                                    placeholder="Notes about your order, e.g. special notes for delivery.">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">Products <span>Total</span></div>
                                <ul>
                                    {{#each itemList}}
                                    <div class="product-item-infor">
                                        <input type="hidden" name="productId" value="{{this.id}}">
                                        <input type="hidden" name="productName" value="{{this.name}}">
                                        <input type="hidden" name="productQuantity" value="{{this.quantity}}">
                                        <input type="hidden" name="price" value="{{this.total}}">                                    
                                        <li>{{this.name}} x {{this.quantity}} <span>$</span> <span>{{this.total}}</span></li>
                                    <div>
                                    {{/each}} 
                                </ul>
                                <input type="hidden" name="totalPrice" value="{{totalPrice}}">
                                <div class="checkout__order__subtotal">Subtotal <span>$</span> <span>{{totalCost}}</span></div>
                                <div class="checkout__order__total">Total <span>$</span> <span id="all-products-price">{{totalPrice}}</span></div>
                                <button type="submit" class="site-btn" id="order-product-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->