<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Order list</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Order list</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    {{#if orderList.length}}
    
    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table style="border: 1px solid black;">
                            <thead>
                                <tr style="border: 1px solid black;">
                                    <th class="shoping__product">Customer</th>
                                    <th>Order</th>                                    
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                    <th>Address</th>
                                    <th>State</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each orderList}}
                                <tr id="order-{{this._id}}">
                                    <td style="text-align: left; padding: 5px">   
                                        <input type="hidden" name="userID" value={{this.userID}}>                                     
                                        <div>Name: {{this.userName}}</div>
                                        <div>Phone: {{this.phoneNumber}}</div>
                                        <div>Address: {{this.userAddress}}</div>
                                    </td>
                                    <td style="text-align: left; padding: 5px">
                                        {{#each this.itemList}}
                                        <div>{{this.productName}}</div>
                                        {{/each}}
                                    </td>

                                    <td style="padding: 5px">
                                        {{#each this.itemList}}
                                        <div>{{this.quantity}}</div>
                                        {{/each}}
                                    </td>
                                    <td style="padding: 5px">
                                        {{#each this.itemList}}
                                        <div>{{this.productPrice}}</div>
                                        {{/each}}
                                    </td>
                                    <td style="padding: 5px">
                                        {{this.total}}
                                    </td>
                                    <td style="text-align: left;padding: 5px">
                                        <div>{{this.userAddress}}</div>
                                    </td>
                                    <td>
                                        <div id="state-{{this.id}}" style="padding: 5px">{{this.state}}</div>
                                    </td>
                                    <td  id="item-{{this._id}}">
                                        <a href="/admin/order/accept?orderId={{this._id}}" class="btn btn-primary accept-btn-click" style="margin-bottom: 5px;">Accept</a>
                                        <button class="btn btn-danger cancle-btn-click">Cancle</button>

                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    {{else}}

    <style>
        .container-fluid{
            background-color: #fff;
        }
        .card {
            border: 0;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            letter-spacing: .5px;
            -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
            box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
        }
        .card {
            background-color: #fff;
            border-bottom: none;
            padding: 24px;
        }
        .card-header:first-child {
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
        }
        .card .card-body {
            padding: 30px;
            background-color: transparent
        }
        .btn-primary,
        .btn-primary.disabled,
        .btn-primary:disabled {
            background-color: #4466f2 !important;
            border-color: #4466f2 !important
        }                                       
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body cart">
                        <div class="col-sm-12 empty-cart-cls text-center"> <img src="/img/emptyCart.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                            <h3><strong>Your order is Empty</strong></h3>
                            <h4>We always bring the freshest and cleanest products!</h4> <a href="/shop-grid" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    <!-- Shoping Cart Section End -->