<div class="container-fluid user-profile-template", style="margin-bottom:110px">
    <div class="main-body">
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{user.img}}" alt="User image" class="rounded-circle" width="150" height="150">
                    <div class="mt-3">
                      <h4>{{user.fullName}}</h4>
                      <p class="text-secondary mb-1">{{user.work}}</p>
                      <p class="text-muted font-size-sm">{{user.address}}</p>
                      {{!-- <button class="btn btn-primary">Follow</button> --}}
                      <div style="font-weight: 700;">Change avatar</div>
                      <form action="/admin/change-image" enctype="multipart/form-data" method="POST">
                        <input type="file" name="userImage"/>
                        <input class="btn btn-primary" type="submit" value="Save"/>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.fullName}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.phone}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Work</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.work}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.address}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " href="/admin/edit">Edit</a>
                      <a class="btn btn-info " href="/admin/change-password">Change password</a>
                      <a class="btn btn-info " href="/admin/create-admin">Create admin</a>
                    </div>
                  </div>
                </div>
              </div>

    
            </div>
        </div>

    </div>
</div>